@import "globals";

@mixin border($radious, $color) {
  border-radius: $radius;
  border-color: $color;
}

main {
  background-color: $background;
  color: $feltRed;
  font-family: $font;
}

h2 {
  color: $feltBlue;
}

button {
  font-size: 0.6em;
  font-family: $subFont;
  font-weight: bold;
  background-color: $background;
  color: $feltRed;
  @include border(7px, $textColor);
}
