@import "globals";


li {
  font: #{$normalFontSize} #{$subFont};
  color: $textColor;
  background-color: $feltYellow;
}

form {
  @extend li;
  background-color: grayscale($feltYellow);
  width: percent-width(250, 960);
  position: relative;
  button {
    text-align: right;
    position: absolute;
    right: 0;
  }
}

label {
  display: block;
  text-align: right;
}
