<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Angular CRUD Demo</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto|Ubuntu+Mono' rel='stylesheet' type='text/css'>
  </head>
  <body data-ng-app="bikeApp">
    <main>
      <h1>Best Bike Database Ever</h1>
      <article>
        <section data-ng-controller="PedalController as pedalctrl" data-ng-init="pedalctrl.getAll()">
          <h2>Make New Pedalbike</h2>
            <pedal-form
              data-button-text="Make Pedalbike"
              data-action="create"
              data-pedal="pedalctrl.newPedal">
            </pedal-form>
          <p>Total number of bikes: {{ pedalctrl.gmCounter.checkTotal() }}</p>
          <h2>Current Pedalbikes</h2>
          <ul id="pedalList">
            <pedal-list-item data-ng-repeat="pedal in pedalctrl.pedals" data-pedal="pedal">
              <pedal-form
                data-ng-if="pedal.editing"
                data-button-text="Update Pedalbike"
                data-action="update"
                data-pedal="pedal">
                <button data-ng-click="pedal.editing = false; pedalctrl.restoreBackup(pedal)">Cancel</button>
              </pedal-form>
            </pedal-list-item>
          </ul>
        </section>
      </article>
      <article id="motorApp">
        <section data-ng-controller="MotorController as motorctrl" data-ng-init="motorctrl.getAll()">
          <h2>Make new Motorbike</h2>
          <motor-form
            data-button-text="Make Motorbike"
            data-action="create"
            data-motor="motorctrl.newMotor">
          </motor-form>
          <p>Total number of bikes: {{ motorctrl.gmCounter.checkTotal() }}</p>
          <h2>Current Motorbikes</h2>
          <ul id="motorList">
            <motor-list-item data-ng-repeat="motor in motorctrl.motors" data-motor="motor">
              <motor-form
                data-ng-if="motor.editing"
                data-button-text="Update Motorbike"
                data-action="update"
                data-motor="motor">
                <button data-ng-click="motor.editing = false; motorctrl.restoreBackup(motor)">Cancel</button>
              </motor-form>
            </motor-list-item>

          </ul>
        </section>
      </article>
    </main>
    <script src="./bundle.js"></script>
  </body>
</html>
