<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Angular CRUD Demo</title>
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body data-ng-app="pedalApp">
    <main>
      <h1>Best Bike Database Ever</h1>
      <article >
        <section data-ng-controller="PedalController as pedal" data-ng-init="pedal.getAll()">
          <h2>Make New Pedal Bike</h2>
          <form data-ng-submit="pedal.createPedal()">
            <label for="model">Model</label>
            <input type="text" name="model" data-ng-model="pedal.newPedal.model">
            <label for="gears">Gears</label>
            <input type="number" name="gears" data-ng-model="pedal.newPedal.gears">
            <label for="frameType">Frame Type</label>
            <input type="text" name="frameType" data-ng-model="pedal.newPedal.frameType">
            <label for="maxSpeed">Max Speed</label>
            <input type="number" name="maxSpeed" data-ng-model="pedal.newPedal.maxSpeed">
            <button type="Submit">Make Pedal Bike</button>
          </form>
          <h2>Current Pedal Bikes</h2>
          <ul id="pedalList">
            <li data-ng-repeat="PedalBike in pedal.pedal">
              <span data-ng-if="!PedalBike.editing">{{PedalBike.model}} has: {{PedalBike.gears}} gears, {{PedalBike.frameType}} frame and a max speed of {{PedalBike.maxSpeed}} miles an hour.</span>
              <form data-ng-if="PedalBike.editing" data-ng-submit="pedal.updatePedal(PedalBike)">
                <label for="model">Model</label>
                <input type="text" name="model" data-ng-model="PedalBike.model">
                <label for="gears">Gears</label>
                <input type="number" name="gears" data-ng-model="PedalBike.gears">
                <label for="frameType">Frame Type</label>
                <input type="text" name="frameType" data-ng-model="PedalBike.frameType">
                <label for="maxSpeed">Max Speed</label>
                <input type="number" name="maxSpeed" data-ng-model="PedalBike.maxSpeed">
                <button type="submit">Update Pedal Bike</button>
                <button data-ng-click="PedalBike.editing = false">Cancel</button>
              </form>

              <button data-ng-if="!PedalBike.editing" data-ng-click="PedalBike.editing = true">Edit Bike</button>
              <button data-ng-click="pedal.remove">Remove Bike</button>
            </li>
          </ul>
        </section>
      </article>
      <article data-ng-app="motorApp">
        <section data-ng-controller="MotorController as motor">

        </section>
      </article>
    </main>
    <script src="./bundle.js"></script>
  </body>
</html>
